<tr id="<%= dom_id developer %>">
  <td class="name-email"><%= developer.first_name %></td>
  <td class="name-email"><%= developer.last_name %></td>
  <td class="name-email"><%= developer.email %></td>
  <td class="name-email"><%= developer.company_name %></td>
  <td class="address"><%= developer.address %></td>
  <td  class="action">
    <%= link_to "Show this developer", developer, method: :post, class: 'td-actions' %>
    <%= button_to "Edit", edit_developer_path(developer), method: :post, data: { controller: 'turbomodal', turbo_frame: 'modal', action: 'click->turbomodal#showModal' } %>
    <%= button_to "Destroy", developer, confirm: 'Are you sure?', method: :delete %>
  </td>
</tr>



