<div id="<%= dom_id developer %>">
  <p>
    <strong>First name:</strong>
    <%= developer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= developer.last_name %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= developer.email %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= developer.company_name %>
  </p>

  <p>
    <strong>About him/her:</strong>
    <%= developer.description %>
  </p>
  
  <p>
    <strong>Address:</strong>
    <%= developer.address %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= developer.dob %>
  </p>

</div>
