<p style="color: green"><%= notice %></p>

<h1>Developers</h1>
<div>

</div>
<div class="grid-container">
  <div class='grid-child tables' style='display:none;'>
    <%= link_to "New developer", new_developer_path, data: { controller: 'turbomodal', turbo_frame: 'modal', action: 'click->turbomodal#showModal' }, class: 'new-developer' %>

    <%= turbo_frame_tag :developers, src: lists_developers_path(format: turbo_stream, page: params[:page]), loading: :lazy do %>
      <span class='loading'>Loading...</span>
    <% end %>
  </div>

  <div class='grid-child notifications-grid'>
    <h4>Notifications</h4>
    
    <!--- Start of turbo_frame_tag for search form notification -->
    <%= turbo_frame_tag 'search_form' do %>
      <div data-controller="notifications">
        <%= form_tag(lists_notifications_path, method: :get) do %>
          <%= text_field_tag :search_notification, '', placeholder: 'Search for notifications', 
            data: { turbo_stream: true, action: 'input->notifications#search', target: 'notifications.params' } %>
        <% end %>
      </div>
    <% end %>
    <!--- End of turbo_frame_tag for search form -->

    <!-- List of notifications partial -->
    <%= render 'notifications/lists', collection: @notifications %>
