<h1>Sign in</h1>

<%= form_tag signin_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  
  <div data-controller="password-visibility">
    <input type="password" data-password-visibility-target="input" name="password" id="password" />

    <button type="button" data-action="password-visibility#toggle">
      <span data-password-visibility-target="icon">Eye</span>
      <span data-password-visibility-target="icon" class="hidden">Eye Slash</span>
    </button>
  </div>
  <%= submit_tag "Sign in" %>
<% end %>
