<%= turbo_frame_tag "notification_#{notification.id}" do %>
    <% if notification.read? %>
      <li class='read'>
        <p><%= notification.title %> <span>(read)</span></p>
    <% else %>
      <li>
        <p><%= notification.title %></p>
    <% end %>
      <span class='desc'><%= notification.description %></span>
      <span class='time'>Time: <%= notification.created_at.strftime('%D %a at %I:%M%p') %></span>
    </li>
<% end %>