<!DOCTYPE html>
<html>
  <head>
    <title>HotwiredApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="assets/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag :modal %>

    <div class='time-section'>
      <div class='time' data-controller="time" data-content-loader-refresh-interval-value='5000'>
        <%= Time.now.strftime('%F %T') %>
      </div>
    </div>

    <div id='main'>
      <%= render partial: 'layouts/top_menu' %>
      <%= yield %>
    </div>
  </body>
</html>
